.ruby-version
.ruby-gemset
db/schema.rb
db/*.sql*
log/*.log
tmp/**/*
tmp/*
public/avatars/**/*
public/javascripts/*.js
public/stylesheets/*.css
public/assets/*
!public/assets/manifest.yml
public/assets/**/*
.bundle
.rspec
*~
*.swp
vendor/plugins/*
